name: "Pull Request Workflow"
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]

jobs:
  # unit tests
  unit-tests:
    if: "!contains(github.event.head_commit.author_name, 'GitHub Action')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: npm install
      - run: npm test
      - run: npm run package
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto commit packaged action"

  # test action works running from the graph  
  enforce-changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - id: read-version
        run: |
          echo "::set-output name=version::$(cat ./VERSION)"
      - uses: ./
        with:
          expectedLatestVersion: '${{ steps.read-version.outputs.version }}'

  # test action works running from the graph  
  enforce-changelog-v2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
