name: "Pull Request Workflow"
on:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]

jobs:

  # validates that the pull request is trusted
  verify: 
    runs-on: ubuntu-latest
    steps:
      - run: |
          VERIFIED_LABEL=${{ contains(github.event.pull_request.labels.*.name, 'verified') }}
          if [[ ( $VERIFIED_LABEL == 'false' ) ]]; then
            echo "Pull request is not from a trusted source!"
            exit 1
          fi

  # unit tests
  unit-tests:
    needs: [ verify ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
        with: 
          token: ${{ secrets.ACTION_TOKEN }}
          ref: ${{ github.event.pull_request.head.ref }}
      - run: npm install
      - run: npm run test:badges
      - run: npm run package

      - uses: stefanzweifel/git-auto-commit-action@v4.14.1
        with:
          commit_message: "Auto-package action"

  # test action works running from the graph
  enforce-changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
        with: 
          token: ${{ secrets.ACTION_TOKEN }}
          ref: ${{ github.event.pull_request.head.ref }}

      - id: read-version
        run: |
          echo "::set-output name=version::$(jq -r ".version" package.json)"
          echo "::set-output name=tag::v$(jq -r ".version" package.json)"

      - uses: dangoslen/dependabot-changelog-helper@v1
        with:
          version: ${{ steps.read-version.outputs.tag }}
          activationLabel: 'dependabot'
          newVersionLineNumber: 4

      - uses: stefanzweifel/git-auto-commit-action@v4.14.1
        with:
          commit_message: "Update changelog"

      - id: changelog-enforcer
        uses: ./
        with:
          skipLabels: "skip-changelog"
          expectedLatestVersion: ${{ steps.read-version.outputs.tag }}
          
      - if: failure()
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          check_for_duplicate_msg: true
          msg: |
            Hey @${{ github.event.pull_request.user.login }}, the Changelog Enforcer failed. Can you take a look at the error below and correct it? Thanks!

            ```
            ${{ steps.changelog-enforcer.outputs.errorMessage }}
            ```

      - id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          version: "${{ steps.read_version.outputs.tag }}"
          path: ./CHANGELOG.md

      - id: check_release
        run: |
          TAG=$(git ls-remote --tags origin | grep ${{ steps.read-version.outputs.tag }} || [[ $? == 1 ]] && echo '')
          MISSING=$([[ -z "$TAG" ]] && echo 'true' || echo 'false')
          echo ::set-output name=missing::$MISSING

      - if: ${{ steps.check_release.outputs.missing }}
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          check_for_duplicate_msg: true
          msg: |
            <details>
              <summary>Preview of Release Notes to be Created</summary>

              ${{ steps.changelog_reader.outputs.changes }}

            </details>
