name: "Pull Request Workflow"
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]

jobs:
  # unit tests
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: 
          ref: ${{ github.head_ref }}
      - run: npm install
      - run: npm run test:badges
      - run: npm run package
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto commit packaged action"

  # test action works running from the graph  
  enforce-changelog:
    needs: unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - id: read-version
        run: |
          echo "::set-output name=version::$(jq ".version" package.json)"
      - id: changelog-enforcer
        uses: ./
        with:
          expectedLatestVersion: ${{ steps.read-version.outputs.version }}
      - if: failure()
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          check_for_duplicate_msg: true
          msg: |
            Hey @${{ github.event.pull_request.user.login }}, the Changelog Enforcer failed. Can you take a look at the error below and correct it? Thanks!

            ```
            ${{ steps.changelog-enforcer.outputs.errorMessage }}
            ```

  # test action works running from the graph  
  enforce-changelog-v2:
    needs: unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./

  preview-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Read version
        id: read_version
        run: |
          echo ::set-output name=version::$(jq ".version" package.json)
        shell: bash
      - name: Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          version: "v${{ steps.read_version.outputs.version }}"
          path: ./CHANGELOG.md
      - name: Check for Release
        id: check_release
        run: |
          TAG=$(git ls-remote --tags origin | grep ${{ steps.read_version.outputs.version }} || [[ $? == 1 ]] && echo '')
          MISSING=$([[ -z "$TAG" ]] && echo 'true' || echo 'false')
          echo ::set-output name=missing::$MISSING
        shell: bash
      - name: Preview Changelog
        if: ${{ steps.check_release.outputs.missing == 'true' }}
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          check_for_duplicate_msg: true
          msg: |
            <details>
              <summary>Preview of Release Notes to be Created</summary>

              ${{ steps.changelog_reader.outputs.changes }}

            </details>