name: "Release Workflow"
on:
  push:
    branches:
      - 'releases/v1.6'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Read versions
        id: read_version
        run: |
          echo ::set-output name=version::$(jq ".version" package.json)
          echo ::set-output name=major_tag::$(jq ".version" package.json | cut -d '.' -f 1)
        shell: bash
      - name: Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ steps.read_version.outputs.version }}
          path: ./CHANGELOG.md
      - name: Check for Release
        id: check_release
        run: |
          TAG=$(git ls-remote --tags origin | grep ${{ steps.read_version.outputs.version }} || [[ $? == 1 ]] && echo '')
          MISSING=$([[ -z "$TAG" ]] && echo 'true' || echo 'false')
          echo ::set-output name=missing::$MISSING
        shell: bash
      - name: Create Release
        if: ${{ steps.check_release.outputs.missing == 'true' }}
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.read_version.outputs.version }}
          release_name: Changelog Enforcer ${{ steps.read_version.outputs.version }}
          body: ${{ steps.changelog_reader.outputs.changes }} 
          draft: false
          prerelease: false
      - name: Update Major Version Tag
        uses: richardsimko/update-tag@v1
        with:
          tag_name: ${{ steps.read_version.outputs.major_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}